In [1]:
import numpy as np # import for math and array operations
import pandas as pd # import for dataframe handle
import matplotlib.pyplot as plt # import for visual representation
import seaborn as sns # import for visual representation
import math
from bs4 import BeautifulSoup
import requests
import datetime as dt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import KNeighborsRegressor


%load_ext autoreload
%autoreload 2

In [2]:
df = pd.read_csv('../raw_data/combine_df.csv')

In [3]:
def clean_tags(tag):
    if ',' in str(tag):
        tag = ','.join(list(set(str(tag).split(','))))
        return tag
df['tags'] = df["popular_tags"].astype(str) +',' + df['genre'].astype(str)
df['tags'] = df['tags'].apply(lambda x : clean_tags(x))

In [4]:
df.head()

,url,types,name,desc_snippet,recent_reviews,all_reviews,release_date,developer,publisher,popular_tags,...,genre,game_description,mature_content,minimum_requirements,recommended_requirements,original_price,discount_price,clean_reviews,clean_date,tags
0,https://store.steampowered.com/app/379720/DOOM/,app,DOOM,Now includes all three premium DLC packs (Unto...,"Very Positive,(554),- 89% of the 554 user revi...","Very Positive,(42,550),- 92% of the 42,550 use...","May 12, 2016",id Software,"Bethesda Softworks,Bethesda Softworks","FPS,Gore,Action,Demons,Shooter,First-Person,Gr...",...,Action,"About This Game Developed by id software, the...",NaN,"Minimum:,OS:,Windows 7/8.1/10 (64-bit versions...","Recommended:,OS:,Windows 7/8.1/10 (64-bit vers...",$19.99,$14.99,Very Positive,2016-05-12 00:00:00,"Atmospheric,Fast-Paced,Singleplayer,Remake,Mul..."
1,https://store.steampowered.com/app/578080/PLAY...,app,PLAYERUNKNOWN'S BATTLEGROUNDS,PLAYERUNKNOWN'S BATTLEGROUNDS is a battle roya...,"Mixed,(6,214),- 49% of the 6,214 user reviews ...","Mixed,(836,608),- 49% of the 836,608 user revi...","Dec 21, 2017",PUBG Corporation,"PUBG Corporation,PUBG Corporation","Survival,Shooter,Multiplayer,Battle Royale,PvP...",...,"Action,Adventure,Massively Multiplayer",About This Game PLAYERUNKNOWN'S BATTLEGROUND...,Mature Content Description The developers de...,"Minimum:,Requires a 64-bit processor and opera...","Recommended:,Requires a 64-bit processor and o...",$29.99,NaN,Mixed,2017-12-21 00:00:00,"Battle Royale,Multiplayer,PvP,Strategy,Tactica..."
2,https://store.steampowered.com/app/637090/BATT...,app,BATTLETECH,Take command of your own mercenary outfit of '...,"Mixed,(166),- 54% of the 166 user reviews in t...","Mostly Positive,(7,030),- 71% of the 7,030 use...","Apr 24, 2018",Harebrained Schemes,"Paradox Interactive,Paradox Interactive","Mechs,Strategy,Turn-Based,Turn-Based Tactics,S...",...,"Action,Adventure,Strategy",About This Game From original BATTLETECH/Mec...,NaN,"Minimum:,Requires a 64-bit processor and opera...","Recommended:,Requires a 64-bit processor and o...",$39.99,NaN,Mostly Positive,2018-04-24 00:00:00,"Story Rich,Turn-Based Tactics,Singleplayer,Mul..."
3,https://store.steampowered.com/app/221100/DayZ/,app,DayZ,The post-soviet country of Chernarus is struck...,"Mixed,(932),- 57% of the 932 user reviews in t...","Mixed,(167,115),- 61% of the 167,115 user revi...","Dec 13, 2018",Bohemia Interactive,"Bohemia Interactive,Bohemia Interactive","Survival,Zombies,Open World,Multiplayer,PvP,Ma...",...,"Action,Adventure,Massively Multiplayer",About This Game The post-soviet country of Ch...,NaN,"Minimum:,OS:,Windows 7/8.1 64-bit,Processor:,I...","Recommended:,OS:,Windows 10 64-bit,Processor:,...",$44.99,NaN,Mixed,2018-12-13 00:00:00,"Atmospheric,Multiplayer,PvP,Military,Massively..."
4,https://store.steampowered.com/app/8500/EVE_On...,app,EVE Online,EVE Online is a community-driven spaceship MMO...,"Mixed,(287),- 54% of the 287 user reviews in t...","Mostly Positive,(11,481),- 74% of the 11,481 u...","May 6, 2003",CCP,"CCP,CCP","Space,Massively Multiplayer,Sci-fi,Sandbox,MMO...",...,"Action,Free to Play,Massively Multiplayer,RPG,...",About This Game,NaN,"Minimum:,OS:,Windows 7,Processor:,Intel Dual C...","Recommended:,OS:,Windows 10,Processor:,Intel i...",Free,NaN,Mostly Positive,2003-05-06 00:00:00,"Atmospheric,MMORPG,Free to Play,Multiplayer,Pv..."

In [5]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords 
from unidecode import unidecode
import string

def clean (text):
    
    for punctuation in string.punctuation:
        text = text.replace(punctuation, ' ') # Remove Punctuation
        
    lowercased = text.lower() # Lower Case
    tokenized = word_tokenize(lowercased) # Tokenize
    words_only = [word for word in tokenized if word.isalpha()] # Remove numbers
    stop_words = set(stopwords.words('English')) # Make stopword list
    without_stopwords = [word for word in words_only if not word in stop_words] # Remove Stop Words
    return " ".join(without_stopwords)

In [6]:
df['clean_tag'] = df['tags'].apply(clean)

In [7]:
df = df.drop(['tags','genre' , 'popular_tags'],axis  =1)

In [8]:

# Tuned TFidfvectorizer
vec = TfidfVectorizer(min_df = 0.01).fit(df.clean_tag)
vectors = vec.transform(df.clean_tag) # Transform text to vectors

In [9]:
X_proj = pd.DataFrame(vectors.toarray(), index=df.name.tolist())

# Define X and y
y = X_proj[0]
knn_model = KNeighborsRegressor().fit(X_proj,y)

In [271]:
X_proj.loc[['DOOM']]

,0,1,2,3,4,5,6,7,8,9,...,123,124,125,126,127,128,129,130,131,132
DOOM,0.0,0.09857,0.0,0.0,0.0,0.185869,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.269721

In [275]:
#Test
neighbors_list = list(knn_model.kneighbors(X_proj.loc[['QUAKE II']],n_neighbors=10)[1][0])
pd.DataFrame(knn_model.kneighbors(X_proj.loc[['QUAKE II']],n_neighbors=10)[0][0], index = X_proj.iloc[neighbors_list, :].index, columns = ['distance'])

                                                 distance
QUAKE II                                         0.000000
Unreal Tournament: Game of the Year Edition      0.415224
QUAKE                                            0.459537
Unreal Tournament 3 Black                        0.466273
Unreal Tournament 2004: Editor's Choice Edition  0.469410
Quake IV                                         0.520002
Deathmatch Classic                               0.534551
Ultimate Doom                                    0.537888
Aliens versus Predator Classic 2000              0.574186
DOOM                                             0.583009

In [258]:
knn_model.kneighbors(X_proj.iloc[0:1],n_neighbors=10)[0][0]

array([1.49011612e-08, 5.83009146e-01, 5.87750793e-01, 6.19399838e-01,
       6.28136432e-01, 6.46344607e-01, 6.58609464e-01, 6.75810410e-01,
       6.77688194e-01, 7.01110496e-01])

In [243]:
knn_model

'DOOM'

### Testing

In [12]:
user_df= pd.read_csv('../raw_data/steam-200k.csv',usecols=[0,1,2,3],names=['userid','game','behavior','hoursplayed'])
user_df.head()

      userid                        game  behavior  hoursplayed
0  151603712  The Elder Scrolls V Skyrim  purchase          1.0
1  151603712  The Elder Scrolls V Skyrim      play        273.0
2  151603712                   Fallout 4  purchase          1.0
3  151603712                   Fallout 4      play         87.0
4  151603712                       Spore  purchase          1.0

In [39]:
user_df['name']=user_df['game']
user_df = user_df[user_df['behavior']== 'play']

In [40]:
user_test= pd.DataFrame(user_df['name'].unique(),columns=['name'])
user_test

                            name
0     The Elder Scrolls V Skyrim
1                      Fallout 4
2                          Spore
3              Fallout New Vegas
4                  Left 4 Dead 2
...                          ...
3595                Space Colony
3596                Life is Hard
3597           Executive Assault
3598                      O.R.B.
3599               MirrorMoon EP

[3600 rows x 1 columns]

In [41]:
join_df=df.merge(user_test, on='name')
join_name = list(join_df.name.unique())

In [43]:
len(join_name)

1513

In [131]:
test_df = user_df[user_df['game'].isin(join_name)]

In [127]:
test_df = test_df.drop(columns = ['game', 'behavior'])

In [132]:
test_df

,userid,game,behavior,hoursplayed,name
3,151603712,Fallout 4,play,87.0,Fallout 4
9,151603712,Left 4 Dead 2,play,8.9,Left 4 Dead 2
11,151603712,HuniePop,play,8.5,HuniePop
13,151603712,Path of Exile,play,8.1,Path of Exile
15,151603712,Poly Bridge,play,7.5,Poly Bridge
...,...,...,...,...,...
199987,128470551,Rogue Legacy,play,2.6,Rogue Legacy
199989,128470551,Mortal Kombat Komplete Edition,play,2.5,Mortal Kombat Komplete Edition
199993,128470551,Magic Duels,play,2.2,Magic Duels
199995,128470551,Titan Souls,play,1.5,Titan Souls
199999,128470551,RUSH,play,1.4,RUSH

In [152]:
test_df.groupby(['userid', 'name']).sum().sort_values(['userid','hoursplayed'], ascending = [True, False]).reset_index().groupby(['userid']).first()

                     name  hoursplayed
userid
5250             Portal 2         13.6
76767      Counter-Strike        365.0
86540           Far Cry 3         17.8
144736     Counter-Strike          0.1
181212     Counter-Strike          1.8
...                   ...          ...
309265377      Brawlhalla          2.0
309404240        Unturned         13.0
309434439          Dota 2          0.8
309824202          Dota 2          0.7
309903146          Dota 2          0.2

[9240 rows x 2 columns]

In [218]:
test_df.groupby(['userid', 'name']).sum().sort_values(['userid','hoursplayed'], ascending = [True, False])

                                hoursplayed
userid    name
5250      Portal 2                     13.6
          Alien Swarm                   4.9
          Team Fortress 2               0.8
          Dota 2                        0.2
76767     Counter-Strike              365.0
...                                     ...
309404240 AdVenture Capitalist          0.7
          Transformice                  0.3
309434439 Dota 2                        0.8
309824202 Dota 2                        0.7
309903146 Dota 2                        0.2

[36161 rows x 1 columns]

In [220]:
test_df[test_df['hoursplayed'] > 1]

,userid,game,behavior,hoursplayed,name
3,151603712,Fallout 4,play,87.0,Fallout 4
9,151603712,Left 4 Dead 2,play,8.9,Left 4 Dead 2
11,151603712,HuniePop,play,8.5,HuniePop
13,151603712,Path of Exile,play,8.1,Path of Exile
15,151603712,Poly Bridge,play,7.5,Poly Bridge
...,...,...,...,...,...
199987,128470551,Rogue Legacy,play,2.6,Rogue Legacy
199989,128470551,Mortal Kombat Komplete Edition,play,2.5,Mortal Kombat Komplete Edition
199993,128470551,Magic Duels,play,2.2,Magic Duels
199995,128470551,Titan Souls,play,1.5,Titan Souls
199999,128470551,RUSH,play,1.4,RUSH

In [210]:
count_df

                           hoursplayed
userid    game
5250      Alien Swarm              4.9
          Dota 2                   0.2
          Portal 2                13.6
          Team Fortress 2          0.8
76767     Alien Swarm              0.8
...                                ...
309404240 Transformice             0.3
          Unturned                13.0
309434439 Dota 2                   0.8
309824202 Dota 2                   0.7
309903146 Dota 2                   0.2

[36161 rows x 1 columns]

In [205]:
list_user_more_hour = list(count_df[count_df['hoursplayed'] > 1].index)

In [217]:
len(list(set(count_df[count_df['hoursplayed'] > 1].reset_index().userid)))

7551

In [206]:
sum_df = test_df[test_df['userid'].isin(list_user_more_hour) == True].groupby('userid').count()[['game']]

In [207]:
sum_df

Empty DataFrame
Columns: [game]
Index: []

In [183]:
list_user_more_game = list(sum_df[sum_df['game'] > 1].index)

In [197]:
final_test_df = test_df[test_df['userid'].isin(list_user_more_game) == True]

In [231]:
game_df = test_df.groupby('userid').count()[['game']]

In [235]:
list(game_df[game_df['game'] > 1].index)

[5250,
 76767,
 86540,
 229911,
 298950,
 554278,
 561758,
 622362,
 748719,
 861238,
 871990,
 948368,
 975449,
 994489,
 1072465,
 1129452,
 1364546,
 1612666,
 1936551,
 1950243,
 2039434,
 2083767,
 2110581,
 2184507,
 2259650,
 2428602,
 2531540,
 2643609,
 2753525,
 3449240,
 3450426,
 3527485,
 3783783,
 3979930,
 4064412,
 4595423,
 4812175,
 4824107,
 4834220,
 5232588,
 5270060,
 5387470,
 5860071,
 5949488,
 5976642,
 5990132,
 6144819,
 6252885,
 6439568,
 6717871,
 6928806,
 7015471,
 7163917,
 7203603,
 7249363,
 7418489,
 7431946,
 7440594,
 7907686,
 7955670,
 8259307,
 8311704,
 8542204,
 8585433,
 8776918,
 8784496,
 8795607,
 8949216,
 9065641,
 9128105,
 9180659,
 9209946,
 9245216,
 9365873,
 9563573,
 9740704,
 9823354,
 9845449,
 9946133,
 10162301,
 10181060,
 10218563,
 10253354,
 10302000,
 10385370,
 10450544,
 10478285,
 10599862,
 11024186,
 11149819,
 11161178,
 11207650,
 11300897,
 11373749,
 11403772,
 11731710,
 11794760,
 11807754,
 11813637,
 11940338,
 11952990,
 11970504,
 11978743,
 12130111,
 12144171,
 12195913,
 12259303,
 12423315,
 12529679,
 12610800,
 12660489,
 12760368,
 12985315,
 13190476,
 13556140,
 13565651,
 13802025,
 14126086,
 14165501,
 14216099,
 14417857,
 14465359,
 14544587,
 14551726,
 14671378,
 14702137,
 14717252,
 14906179,
 14962163,
 15095770,
 15196746,
 15221799,
 15305418,
 15415372,
 15564408,
 15680561,
 15701750,
 15702351,
 15841597,
 16080105,
 16081636,
 16084897,
 16154372,
 16167221,
 16231773,
 16574348,
 16645459,
 16710264,
 17017968,
 17284266,
 17352311,
 17414305,
 17495098,
 17497581,
 17530772,
 17567828,
 17649444,
 17995238,
 18036199,
 18066817,
 18109027,
 18149166,
 18500119,
 18897058,
 19062398,
 19085114,
 19094181,
 19586574,
 19616379,
 19668647,
 19696244,
 20200395,
 20207081,
 20362352,
 20366600,
 20464587,
 20566124,
 20704366,
 20772968,
 21061921,
 21316693,
 21406272,
 21535912,
 21539893,
 21796349,
 21861124,
 21979395,
 22088241,
 22283916,
 22301321,
 22371742,
 22605909,
 22865756,
 23154676,
 23181958,
 23225650,
 23492094,
 23608098,
 23672423,
 23717586,
 23883383,
 24011187,
 24204083,
 24366790,
 24469287,
 24610082,
 24632218,
 24721232,
 24841093,
 24858005,
 24919113,
 25096601,
 25337857,
 25411448,
 25539892,
 26027937,
 26302344,
 26430231,
 26465134,
 26729643,
 26762388,
 26802825,
 26808868,
 26861985,
 27139623,
 27169419,
 27171538,
 27262175,
 27279261,
 27403206,
 27417971,
 27545486,
 27579751,
 27873947,
 27901693,
 28064589,
 28113724,
 28229872,
 28472068,
 28648610,
 28711405,
 28731346,
 28997716,
 29052354,
 29081256,
 29239329,
 29302014,
 29706117,
 29753085,
 29764828,
 29852387,
 29873979,
 29983962,
 30042027,
 30061970,
 30239820,
 30246419,
 30425578,
 30440303,
 30519870,
 30572170,
 30699429,
 30912860,
 30913209,
 31162433,
 31187179,
 31668589,
 31669242,
 31727716,
 31733654,
 31817706,
 31839832,
 31887973,
 32102983,
 32125590,
 32126281,
 32398422,
 32467994,
 32498610,
 32577778,
 32592631,
 32644336,
 32710856,
 32749624,
 32847394,
 33013552,
 33071192,
 33214968,
 33282871,
 33300480,
 33452361,
 33518079,
 33580866,
 33622085,
 33651880,
 33659046,
 33706322,
 33778112,
 33865373,
 33910513,
 34177747,
 34281672,
 34442062,
 34582304,
 34658438,
 34901647,
 34919318,
 35009482,
 35039277,
 35047392,
 35177894,
 35192299,
 35330593,
 35433662,
 35701646,
 35729292,
 35864169,
 36349097,
 36404933,
 36439985,
 36502549,
 36546868,
 36557643,
 36775354,
 36791999,
 36978196,
 37026839,
 37294596,
 37422528,
 37435998,
 37490443,
 37706629,
 37723786,
 37727952,
 37766583,
 37827989,
 37829487,
 37911248,
 38049880,
 38179194,
 38293596,
 38317154,
 38323067,
 38436635,
 38465050,
 38731746,
 39028341,
 39037163,
 39082468,
 39319649,
 39322716,
 39334748,
 39361297,
 39403038,
 39446138,
 39524248,
 39622853,
 39758678,
 39834113,
 39899978,
 39941720,
 40051659,
 40080833,
 40084096,
 40212239,
 40280688,
 40289887,
 40652120,
 40797591,
 40837142,
 41559627,
 41606445,
 41719717,
 41846650,
 41883322,
 41887439,
 42005897,
 42061089,
 42198457,
 42298912,
 42380987,
 42657809,
 42771635,
 42849279,
 42928788,
 43160799,
 43186470,
 43284145,
 43360645,
 43684632,
 43700700,
 43908860,
 43913966,
 43936108,
 43955374,
 44010163,
 44021324,
 44153929,
 44156169,
 44169472,
 44314169,
 44321815,
 44370809,
 44421638,
 44426653,
 44472980,
 44482198,
 44545959,
 44755776,
 44866715,
 44874005,
 45030250,
 45094639,
 45292137,
 45353031,
 45411694,
 45422636,
 45507376,
 45532207,
 45592640,
 45617627,
 45774794,
 45957399,
 45970552,
 45974860,
 46028967,
 46030552,
 46055854,
 46178364,
 46301758,
 46397411,
 46534663,
 46542904,
 46585543,
 46637811,
 46759859,
 46785501,
 46951849,
 47063596,
 47164966,
 47240858,
 47284807,
 47288156,
 47291376,
 47364777,
 47384202,
 47384303,
 47457723,
 47500408,
 47672756,
 47728342,
 47773209,
 47887890,
 48028873,
 48058475,
 48080423,
 48118779,
 48149238,
 48175931,
 48239695,
 48334326,
 48386574,
 48449055,
 48456902,
 48492052,
 48525807,
 48626533,
 48666962,
 48798067,
 48845802,
 48984158,
 48984341,
 49050405,
 49063269,
 49228258,
 49312497,
 49342564,
 49350285,
 49380630,
 49413665,
 49462664,
 49624770,
 49629862,
 49630184,
 49724738,
 49767455,
 49769103,
 49832324,
 49882352,
 49893565,
 50032397,
 50095094,
 50229934,
 50275189,
 50553129,
 50600002,
 50700418,
 50744279,
 50769696,
 50797633,
 50801801,
 50811344,
 50818751,
 51085779,
 51132884,
 51293702,
 51382080,
 51557405,
 51558260,
 51699341,
 51822361,
 52203520,
 52321307,
 52435421,
 52545855,
 52567955,
 52731290,
 52907921,
 52942891,
 53091150,
 53097340,
 53181165,
 53245953,
 53258793,
 53711793,
 53779471,
 53784377,
 53875128,
 53898495,
 53901705,
 54103616,
 54124359,
 54194546,
 54291917,
 54293428,
 54310644,
 54477968,
 54507379,
 54568397,
 54637394,
 54761333,
 54826284,
 54888069,
 54999247,
 55300764,
 55334302,
 55352649,
 55367062,
 55426012,
 55751308,
 55755821,
 55761025,
 55906572,
 55975168,
 56038151,
 56219610,
 56333620,
 56413349,
 56436989,
 56789999,
 56911639,
 57103808,
 57234698,
 57368001,
 57424113,
 57433226,
 57500988,
 57603447,
 57770056,
 57798235,
 57810800,
 57905818,
 57974873,
 58029555,
 58057627,
 58217836,
 58289184,
 58297398,
 58298928,
 58330533,
 58345543,
 58431944,
 58435428,
 58481977,
 58530556,
 58618147,
 58761868,
 58768356,
 58893462,
 58905429,
 58907890,
 58931437,
 58953935,
 59005471,
 59099129,
 59115473,
 59157389,
 59205262,
 59234901,
 59332369,
 59382844,
 59529444,
 59536273,
 59662830,
 59756932,
 59773143,
 59790700,
 59825286,
 59837634,
 59925638,
 59945701,
 60210313,
 60217594,
 60296891,
 60343142,
 60439399,
 60549077,
 60557056,
 60608576,
 60611062,
 60706503,
 60744461,
 60859324,
 60859695,
 61046224,
 61070572,
 61099969,
 61189155,
 61428062,
 61506388,
 61632730,
 61676491,
 61772065,
 61779218,
 61806811,
 62078957,
 62097332,
 62481936,
 62545742,
 62633395,
 62658713,
 62705916,
 62811725,
 62858973,
 62878249,
 62985928,
 62990992,
 63098418,
 63122679,
 63157803,
 63276972,
 63441290,
 63454504,
 63615483,
 63808332,
 63895034,
 63965791,
 63990035,
 64019582,
 64023574,
 64027842,
 64060101,
 64079170,
 64261708,
 64319625,
 64350600,
 64368515,
 64369759,
 64394438,
 64514291,
 64611580,
 64754418,
 64787956,
 64973908,
 65064340,
 65117175,
 65145468,
 65147980,
 65152385,
 65155942,
 65173746,
 65225038,
 65229865,
 65244880,
 65315657,
 65342306,
 65350586,
 65398650,
 65420540,
 65533730,
 65610147,
 65716118,
 65754991,
 65909415,
 65935023,
 65958466,
 66052983,
 66078954,
 66211595,
 66229356,
 66255019,
 66357156,
 66403743,
 66438889,
 66464409,
 66508737,
 66596291,
 66615366,
 66650717,
 66687732,
 66748534,
 66755246,
 66950079,
 67083031,
 67244867,
 67349307,
 67492611,
 67579257,
 67628444,
 67694595,
 67708331,
 67713900,
 67729331,
 67965357,
 68049243,
 68224834,
 68240622,
 68316900,
 68325099,
 68532738,
 68672269,
 68685708,
 68719896,
 68809194,
 68963476,
 69009454,
 69180564,
 69434488,
 69587339,
 69828237,
 69849141,
 69856757,
 69942754,
 69946630,
 69953893,
 69954842,
 70180527,
 70398582,
 70408902,
 70489471,
 70591968,
 70778973,
 70780053,
 70915652,
 70970228,
 70995384,
 71331921,
 71335402,
 71390526,
 71411882,
 71498571,
 71510748,
 71527252,
 71603645,
 71777065,
 71871620,
 71888942,
 72387826,
 72417734,
 72523666,
 72613527,
 72627862,
 72717958,
 72842694,
 72907554,
 72958745,
 72978546,
 72989129,
 72996988,
 73195149,
 73495968,
 73513367,
 73518199,
 73564778,
 73721802,
 73726855,
 73835640,
 74126541,
 74157312,
 74161590,
 74232403,
 74290096,
 74347105,
 74521316,
 74764496,
 74772820,
 74855005,
 75064242,
 75092930,
 75134679,
 75155353,
 75182781,
 75232211,
 75240572,
 75368808,
 75457821,
 75463760,
 75465639,
 75598925,
 75689918,
 75738431,
 75864605,
 75970863,
 76032287,
 76296787,
 76420334,
 76451157,
 76787637,
 76892907,
 77124916,
 77127388,
 77194086,
 77194239,
 77214425,
 77279068,
 77387906,
 77446275,
 77542968,
 77565315,
 77665527,
 77792512,
 77818807,
 77830706,
 77870593,
 77903318,
 77905942,
 77980915,
 78053539,
 78309377,
 78332414,
 78341587,
 78560022,
 78671103,
 78765966,
 78799565,
 79017735,
 79049613,
 79073449,
 79155765,
 79211079,
 79243080,
 79316774,
 79319075,
 79411077,
 79615216,
 79658056,
 79715089,
 80067793,
 80098179,
 80119032,
 80128229,
 80164199,
 80189887,
 80239919,
 80250756,
 80341091,
 80351692,
 80363319,
 80384872,
 80471276,
 80494893,
 80511960,
 80550861,
 80604456,
 80630217,
 80650761,
 80779496,
 80988171,
 81139130,
 81160212,
 81170946,
 81245611,
 81258000,
 81439192,
 81556495,
 81585721,
 81591317,
 81672131,
 81678279,
 81743539,
 81746734,
 81865111,
 81901544,
 81943620,
 82020006,
 82029808,
 82046939,
 82071844,
 82112070,
 82156706,
 82174211,
 82203951,
 82212295,
 82263745,
 82287546,
 82352462,
 82385352,
 82418411,
 82436907,
 82438562,
 82448039,
 82512087,
 82686146,
 82695118,
 82778779,
 83090686,
 83135348,
 83148759,
 83168693,
 83336644,
 83420834,
 83497449,
 83521481,
 83589156,
 83599495,
 83625754,
 83671083,
 83681553,
 83746733,
 83770731,
 83806417,
 83849502,
 83867981,
 83878895,
 83975567,
 83992730,
 84045371,
 84221022,
 84318201,
 84371132,
 84432612,
 84455820,
 84471496,
 84513749,
 84863268,
 84883272,
 84925352,
 85046830,
 85210874,
 85366890,
 85426082,
 85458882,
 85497862,
 85518568,
 85643975,
 85673716,
 85714521,
 85759872,
 85935348,
 85959768,
 86016715,
 86041729,
 86055705,
 86150792,
 86182317,
 86256882,
 86287245,
 86332470,
 86338111,
 86433707,
 86466985,
 86469479,
 86476768,
 86481908,
 86499586,
 86502662,
 86623169,
 86686260,
 86732465,
 86733992,
 86738567,
 86779448,
 86866292,
 86912006,
 87040683,
 87071236,
 87162199,
 87201181,
 87341384,
 87445402,
 87548320,
 87601770,
 87601937,
 87694960,
 87734805,
 87740709,
 87753149,
 87832209,
 87907200,
 87938922,
 ...]

In [202]:
final_test_df.groupby(['userid','game']).sum().sort_values('hoursplayed')

                                   hoursplayed
userid    game
54888069  Team Fortress Classic            0.1
235996643 Two Worlds Epic Edition          0.1
96400571  Banished                         0.1
31187179  Rock of Ages                     0.1
80779496  LIMBO                            0.1
...                                        ...
12660489  Dota 2                        5970.0
86256882  Dota 2                        6015.0
121199670 Dota 2                        6753.0
52567955  Dota 2                        6964.0
100630947 Dota 2                       10442.0

[29989 rows x 1 columns]