In [29]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [30]:
df= pd.read_csv('../raw_data/steam-200k.csv',usecols=[0,1,2,3],names=['userid','game','behavior','hoursplayed'])
df.head()

      userid                        game  behavior  hoursplayed
0  151603712  The Elder Scrolls V Skyrim  purchase          1.0
1  151603712  The Elder Scrolls V Skyrim      play        273.0
2  151603712                   Fallout 4  purchase          1.0
3  151603712                   Fallout 4      play         87.0
4  151603712                       Spore  purchase          1.0

In [31]:
df.shape

(200000, 4)

In [32]:
df_play = df[df['behavior']=='play']
df_play.shape

(70489, 4)

In [33]:
df_play.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70489 entries, 1 to 199999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userid       70489 non-null  int64
 1   game         70489 non-null  object
 2   behavior     70489 non-null  object
 3   hoursplayed  70489 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.7+ MB

In [34]:
df_play.describe()

             userid   hoursplayed
count  7.048900e+04  70489.000000
mean   1.058812e+08     48.878063
std    7.150365e+07    229.335236
min    5.250000e+03      0.100000
25%    4.934256e+07      1.000000
50%    9.169067e+07      4.500000
75%    1.556738e+08     19.100000
max    3.099031e+08  11754.000000

In [35]:
df_play.groupby(['game']).mean().sort_values(by="hoursplayed",ascending=False).head()

                                         userid  hoursplayed
game
Eastside Hockey Manager            2.138543e+08  1295.000000
Baldur's Gate II Enhanced Edition  7.705612e+07   475.255556
FIFA Manager 09                    4.630176e+07   411.000000
Perpetuum                          6.723111e+07   400.975000
Football Manager 2014              1.032583e+08   391.984615

In [36]:
df_play.groupby(['game']).sum().sort_values(by="hoursplayed",ascending=False).head()

                                       userid  hoursplayed
game
Dota 2                           876244856902     981684.6
Counter-Strike Global Offensive  197100863262     322771.6
Team Fortress 2                  317607217486     173673.3
Counter-Strike                    35238993239     134261.1
Sid Meier's Civilization V        51917921874      99821.3

In [37]:
len(df_play['game'].unique())

3600

In [38]:
len(df_play['userid'].unique())

11350

In [39]:
user_df = df_play.groupby('userid')
user_df.head()

           userid                          game behavior  hoursplayed
1       151603712    The Elder Scrolls V Skyrim     play        273.0
3       151603712                     Fallout 4     play         87.0
5       151603712                         Spore     play         14.9
7       151603712             Fallout New Vegas     play         12.1
9       151603712                 Left 4 Dead 2     play          8.9
...           ...                           ...      ...          ...
199969  128470551  The Binding of Isaac Rebirth     play        291.0
199971  128470551                 Path of Exile     play         42.0
199973  128470551               Arma 2 DayZ Mod     play         22.0
199975  128470551                   Antichamber     play         16.8
199977  128470551                  Risk of Rain     play         15.4

[24880 rows x 4 columns]

In [40]:
games_df = pd.DataFrame(df.game.unique(), columns=['game'])
games_df['index_col'] = games_df.index
games_df

                                     game  index_col
0              The Elder Scrolls V Skyrim          0
1                               Fallout 4          1
2                                   Spore          2
3                       Fallout New Vegas          3
4                           Left 4 Dead 2          4
...                                   ...        ...
5150                   Warriors & Castles       5150
5151  Romance of the Three Kingdoms Maker       5151
5152                         Space Colony       5152
5153                         Life is Hard       5153
5154                    Executive Assault       5154

[5155 rows x 2 columns]

In [41]:
df_play= df_play.merge(games_df, on='game')
df_play.head()

      userid                        game behavior  hoursplayed  index_col
0  151603712  The Elder Scrolls V Skyrim     play        273.0          0
1   59945701  The Elder Scrolls V Skyrim     play         58.0          0
2   92107940  The Elder Scrolls V Skyrim     play        110.0          0
3  250006052  The Elder Scrolls V Skyrim     play        465.0          0
4   11373749  The Elder Scrolls V Skyrim     play        220.0          0

In [42]:
df_play['hoursplayed'].std()

229.335235996813

In [43]:
usergroup = df_play.groupby('userid')
usergroup.head()

          userid                        game behavior  hoursplayed  index_col
0      151603712  The Elder Scrolls V Skyrim     play        273.0          0
1       59945701  The Elder Scrolls V Skyrim     play         58.0          0
2       92107940  The Elder Scrolls V Skyrim     play        110.0          0
3      250006052  The Elder Scrolls V Skyrim     play        465.0          0
4       11373749  The Elder Scrolls V Skyrim     play        220.0          0
...          ...                         ...      ...          ...        ...
70425  162653477     Fast & Furious Showdown     play          3.4       5077
70445  213854339     Eastside Hockey Manager     play       1295.0       5102
70446  213854339  Franchise Hockey Manager 2     play         11.2       5103
70452  209218938       Maszyny Rolnicze 2015     play          0.3       4887
70480  112739159       Ride! Carnival Tycoon     play          0.3       5147

[24880 rows x 5 columns]

In [44]:
# noOfUsers = 1000
# train_list = []

# i = 0
# # For each user in the group
# for userID, cur in usergroup:
#     # Create a temp that stores every game's hours played
#     temp = [0]*len(games_df)
#     # For each game in list
#     for no, game in cur.iterrows():
#         temp[game['index_col']] = game['hoursplayed']
#         i+=1
#     train_list.append(temp)
    
#     if noOfUsers == 0:
#         break
#     noOfUsers -= 1

In [81]:
df_play['game'].unique()

array(['The Elder Scrolls V Skyrim', 'Fallout 4', 'Spore', ...,
       'Executive Assault', 'O.R.B.', 'MirrorMoon EP'], dtype=object)

In [82]:
len(df_play)

70489