In [4]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from collections import Counter

In [5]:
df= pd.read_csv('../raw_data/steam-200k.csv',usecols=[0,1,2,3],names=['userid','game','behavior','hoursplayed'])
df.head()

      userid                        game  behavior  hoursplayed
0  151603712  The Elder Scrolls V Skyrim  purchase          1.0
1  151603712  The Elder Scrolls V Skyrim      play        273.0
2  151603712                   Fallout 4  purchase          1.0
3  151603712                   Fallout 4      play         87.0
4  151603712                       Spore  purchase          1.0

In [6]:
df.shape

(200000, 4)

In [7]:
df_play = df[df['behavior']=='play']
df_play.shape

(70489, 4)

In [8]:
df_play.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70489 entries, 1 to 199999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userid       70489 non-null  int64
 1   game         70489 non-null  object
 2   behavior     70489 non-null  object
 3   hoursplayed  70489 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.7+ MB

In [9]:
df_play.describe()

             userid   hoursplayed
count  7.048900e+04  70489.000000
mean   1.058812e+08     48.878063
std    7.150365e+07    229.335236
min    5.250000e+03      0.100000
25%    4.934256e+07      1.000000
50%    9.169067e+07      4.500000
75%    1.556738e+08     19.100000
max    3.099031e+08  11754.000000

In [10]:
df_play.groupby(['game']).mean().sort_values(by="hoursplayed",ascending=False).head()

                                         userid  hoursplayed
game
Eastside Hockey Manager            2.138543e+08  1295.000000
Baldur's Gate II Enhanced Edition  7.705612e+07   475.255556
FIFA Manager 09                    4.630176e+07   411.000000
Perpetuum                          6.723111e+07   400.975000
Football Manager 2014              1.032583e+08   391.984615

In [11]:
df_play.groupby(['game']).sum().sort_values(by="hoursplayed",ascending=False).head()

                                       userid  hoursplayed
game
Dota 2                           876244856902     981684.6
Counter-Strike Global Offensive  197100863262     322771.6
Team Fortress 2                  317607217486     173673.3
Counter-Strike                    35238993239     134261.1
Sid Meier's Civilization V        51917921874      99821.3

In [12]:
len(df_play['game'].unique())

3600

In [13]:
len(df_play['userid'].unique())

11350

In [14]:
# user_df = df_play.groupby('userid')
# user_df.head()

In [15]:
# games_df = pd.DataFrame(df.game.unique(), columns=['game'])
# games_df['index_col'] = games_df.index
# games_df

In [16]:
# df_play= df_play.merge(games_df, on='game')
# df_play.head()

In [17]:
df_play['hoursplayed'].std()

229.335235996813

In [18]:
# usergroup = df_play.groupby('userid')
# usergroup.head()

In [19]:
# df_play['game'].unique()

In [20]:
# len(df_play)

In [21]:
# user_counter = Counter()
# for user in df_play.userid.tolist():
#     user_counter[user] +=1

# game_counter = Counter()
# for game in df_play.game.tolist():
#     game_counter[game] += 1

# user2idx = {user: i for i, user in enumerate(df_play.userid.unique())}
# idx2user = {i: user for user, i in user2idx.items()}

# game2idx = {game: i for i, game in enumerate(df_play.game.unique())}
# idx2game = {i: game for game, i in game2idx.items()}

In [22]:
# game2idx

In [23]:
# user_idx = df_play['userid'].apply(lambda x: user2idx[x]).values
# game_idx = df_play['gameIdx'] = df_play['game'].apply(lambda x: game2idx[x]).values
# hours = df_play['hoursplayed'].values

In [24]:
# user_idx

In [25]:
# df_play.head()

In [26]:
# df_cleaner= df_play.drop(columns=['behavior', 'index_col', 'gameIdx'])

In [27]:
# df_cleaner.head()

In [28]:
df_play=df_play.drop(columns='behavior')

In [29]:
df_play[df_play['userid']==5250]

       userid                      game  hoursplayed
65424    5250           Cities Skylines        144.0
65426    5250  Deus Ex Human Revolution         62.0
65428    5250                  Portal 2         13.6
65430    5250               Alien Swarm          4.9
65432    5250           Team Fortress 2          0.8
65434    5250                    Dota 2          0.2

In [30]:
best_df=df_play.groupby(['userid','game']).sum().sort_values(['userid','hoursplayed'], ascending=[True,False]).reset_index().groupby('userid').first()

In [31]:
best_df[best_df['hoursplayed']>1]

                                    game  hoursplayed
userid
5250                     Cities Skylines        144.0
76767                     Counter-Strike        365.0
86540         The Elder Scrolls V Skyrim        113.0
181212                    Counter-Strike          1.8
229911     Counter-Strike Condition Zero        165.0
...                                  ...          ...
309262440                Team Fortress 2          1.2
309265377                     Brawlhalla          2.0
309404240                       Unturned         13.0
309554670              Mitos.is The Game          5.9
309626088   Age of Empires II HD Edition          6.7

[9461 rows x 2 columns]

In [32]:
game_df = df_play.groupby('userid').count()[['game']]
user_list=list(game_df[game_df['game'] > 1].index)

In [33]:
for user in user_list[0:10]:
    db=df_play[df_play['userid']==user].sort_values(by='hoursplayed',ascending=False)
    print(list(db['game'].iloc[0:2]))

['Cities Skylines', 'Deus Ex Human Revolution']
['Counter-Strike', 'Call of Duty World at War']
['The Elder Scrolls V Skyrim', 'Audiosurf']
['Counter-Strike', 'Half-Life 2 Lost Coast']
['Counter-Strike Condition Zero', 'Call of Duty Modern Warfare 2 - Multiplayer']
['Team Fortress 2', 'Counter-Strike Global Offensive']
['Counter-Strike Global Offensive', 'Counter-Strike']
['Counter-Strike Source', 'Counter-Strike Global Offensive']
['Call of Duty Modern Warfare 3 - Multiplayer', 'Call of Duty Black Ops - Multiplayer']
['Counter-Strike Global Offensive', 'Counter-Strike']

In [36]:
def get_fav_games(df,user):
    db = df[df['userid']==user].sort_values(by='hoursplayed', ascending=False)
    return list(db['game'].iloc[0:2])

In [37]:
def get_user_list(df):
    temp_df=df.groupby('userid').count()[['game']]
    return list(temp_df[temp_df['game']>1].index)

In [78]:
# def get_fav_list(df):
#     user_list= get_user_list(df)
#     fav_list=[]
#     for user in user_list:
#         fav_list.append(get_fav_games(df,user))
#     return user_list, fav_list

In [96]:
def get_fav_list(df):
    user_list= get_user_list(df)
    fav_list=[]
    for user in user_list:
        fav_list.append(get_fav_games(df,user))
    fav1=[]
    fav2=[]
    for fav in fav_list:
        fav1.append(fav[0])
        fav2.append(fav[1])
    return pd.DataFrame(data=list(zip( fav1, fav2)),
                         columns=['most_fav_game', 'sec_fav_game'],index=user_list)

In [98]:
get_fav_list(df_play.iloc[0:301])

,most_fav_game,sec_fav_game
26122540,Call of Duty Modern Warfare 2 - Multiplayer,Call of Duty Modern Warfare 2
53875128,Grand Theft Auto V,Insurgency
59945701,Ultra Street Fighter IV,FINAL FANTASY XIII
97298878,Medal of Honor(TM) Multiplayer,Max Payne 2 The Fall of Max Payne
126340495,Dota 2,Counter-Strike Global Offensive
151603712,The Elder Scrolls V Skyrim,Fallout 4
194895541,Dota 2,Tactical Intervention
218323237,Dota 2,Tomb Raider
297811211,ARK Survival Evolved,Team Fortress 2